$primary-color:hsl(257, 40%, 49%), hsl(300, 69%, 71%);
$heading-fonts:'Poppins',sans-serif;
$body-font:'Open Sans', sans-serif;
$font-weight:400, 600;

body{
    background-color:nth($primary-color,1);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    color:white;
}

figure{margin: 0;}

.HLP__header{
    height: 78px;
    margin: 30px 0px 0px 32px;
    .HLP__header-figure{
        display: flex;
        justify-content: end;
        align-items: center;
        img{width: 28vw;}
    }
}

.HLP__mockup{
    text-align: center;
    margin-bottom: 20%;
    img{width: 80vw;}
}

.HLP__comunity{
    text-align: center;
    font-family: $body-font;
    font-weight: nth($font-weight,1);
    line-height: 1.5rem;
    .HLP__comunity-p{padding: 0rem 10% 0rem 10%;}
    .HLP__comunity-button-register{
        color: nth($primary-color,1);
        background-color: white;
        display: flex;
        justify-content: center; 
        padding: 1rem;
        margin:2rem 1rem 2rem 1rem;
        border-radius: 30px;
        box-shadow: 0px 8px 12px -8px rgba(0,0,0,0.75);
    }
    .HLP__comunity-button-register:hover{
        transition: .2s;
        background-color:nth($primary-color,2);
        color: white;
    }
    .HLP__comunity-h2{
        font-family:($heading-fonts);
        font-weight: nth($font-weight,2);
        line-height: 2rem;
    }
}

.HLP__address{
    display: flex;
    justify-content: center;
    font-size: 24px;

    i{
    border: 1px solid white;
    padding: 1rem;
    border-radius: 33px;
    margin: 1rem;
}
    i:hover{
        border-color: nth($primary-color,2);
        color: nth($primary-color,2);
        transition: .2s;
    }
}

@media screen and (min-width:575px){

    .HLP__header{
        .HLP__header-figure img {
            width: 18vw;
        }
    } 

    body{
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "head head head"
        "mock comu comu"
        ".     .   foot";
        .HLP__header{grid-area:head;}
        .HLP__mockup{grid-area:mock;}
        .HLP__comunity{grid-area:comu; margin-left: .4rem;}
        .HLP__footer{grid-area:foot;}
    }

        .HLP__mockup{
        text-align: center;
        margin: 0% 0% 20% 6%;
        img{width: 50vw;}
    }

    .HLP__address{font-size: 12px;}
    .HLP__comunity-p {padding: 0rem 10% 0rem 10%;}
}

@media screen and (min-width:768px){
    body{
        column-gap: 1.8rem;
        .HLP__comunity{
            text-align: left; 
            margin-left: 0rem;
            padding: 5% 10% 5% 10%;
            .HLP__comunity-p{padding: 0;}
            
            .HLP__comunity-button-register{width: 150px; margin: 2rem 1rem 2rem 0rem;}
        }    
        .HLP__mockup {
            margin: 5% 0% 20% 6%;
        }
    }
}